@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transform: 0.2s linear;
    font-family: "Poppins";
}
body{
    background: linear-gradient(180deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}
section{
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}

/*Header*/
header{
    background-color: #1E1E1E;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
.menu-desktop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 0;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
}
.navbar{
    font-size: 20px;
    margin: 0 1rem;
}
.navbar a{
    color: #fff;
    margin-left: 20px;
}
.navbar a:hover{
    background-color: #fff;
    color: #1E1E1E;
    transition: 0.5s;
    padding: 10px;
    border-radius: 5px;
}
.logo img{
    height: 40px;
}


/*Sobre*/
#sobre{
    margin-top: 220px;
    margin-bottom: 200px;
}
#sobre section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.texto-sobre{
    color: #fff;
    width: 600px;
}
.texto-sobre h2{
    font-size: 30px;
}
.texto-sobre p{
    font-size: 20px;
}

/*Especialidades*/
#especialidades h1{
    margin-bottom: 30px;
}
#especialidades section{
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 35px;
    color: #fff;
    margin-bottom: 70px;
}
.especialidade-containe{
    display: flex;
    justify-content: space-between;
}
.container{
    border: solid 3px #019EFF;
    border-radius: 20px;
    padding: 40px 20px 20px 20px;
    width: 510px;
    height: 360px;
}
.container a{
    padding: 0 10px;
    font-size: 180px;
}
#js{
    color: #F7DF1E;
}
#css{
    color: #264DE4;
}
#html{
    color: #FF7816;
}

/*Projetos*/
#Projetos section{
    display: flex;
    flex-direction: column;
    font-size: 35px;
    color: #fff;
    text-align: center;
    margin-bottom: 70px;
}
#ul-projeto{
    display: flex;
    justify-content: space-between;
}
.projeto-container{
    text-align: center;
    width: 340px;
    height: 380px;
    border: solid 3px #019EFF;
    border-radius: 15px;
    padding: 20px;
    color: #fff;
    cursor: pointer;
    margin-top: 30px;
    list-style: none;
}
.projeto-container h3{
    font-size: 30px;
}
.projeto-container p{
    text-align: justify;
    font-size: 15px;
    margin-bottom: 5px;
}

/*Contato*/
#contato section{
    text-align: center;
    align-items: center;
    font-size: 35px;
    color: #fff;
}
ul{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.contato-containe{
    list-style: none;
    height: 240px;
    width: 240px;
    border: solid 3px #019EFF;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
.contato-containe a{
    font-size: 117px
}
.contato-containe p{
    font-size: 25px;
    color: #fff;
}
#git{
    color: #1B1F23;
}
#whats{
    color: #25d366;
}
#insta{
    color: #fff;
}
#linkedin{
    color: #0e76e8;
}

@media screen and (max-width: 1020px) {
    /*Menu desktop*/
    .navbar{
        display: none;
    }
    .logo{
        display: none;
    }
    /*Sobre moobile*/
     #sobre section{
        flex-direction: column-reverse;
     }
     .texto-sobre{
        width: 280px;
     }
     .texto-sobre h2{
        font-size: 25px;
     }
     .texto-sobre p{
        font-size: 20px;
     }
     .foto-perfil img{
        width: 370px;
     }
     
     /*Especialidade mobile*/
     #especialidades section{
        align-items: center;
        font-size: 25px;
     }
     .especialidade-containe{
        flex-direction: column;
        align-items: center;
     }
     .container{
        width: 280px;
        height: 200px;
        margin-bottom: 30px;
     }
     .container a{
        font-size: 80px;
     }
     .container h2{
        font-size: 35px;
     }

     /*Projeto mobile*/
     .container-pro{
        flex-direction: column;
        align-items: center;
     }
     .projeto-container{
        width: 280px;
        height: 300px;
     }
     .projeto-container img{
        width: 230px;
     }
     .projeto-container h3{
        font-size: 20px;
     }
     .projeto-container p{
        font-size: 11px;
     }

     /*contato mobile*/
     ul{
        flex-direction: column;
        align-items: center;
     }
     .contato-containe{
        margin-bottom: 20px;
        width: 120px;
        height: 120px;
     }
     .contato-containe a{
        font-size: 50px;
     }
     .contato-containe p{
        font-size: 20px;
     }
}